<div class="row answer-container">
    <div class="col-md-1">
        <div class="row center-content"><a ng-click="incrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a> 
        </div>
        <div class="row"> <span class="form-control text-center ng-pristine ng-valid">1 </span> 
        </div>
        <div class="row center-content"> <a ng-click="decrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a> 
        </div>
    </div>
    <div class="col-md-10"> <span>Description of the answer</span>
        <div class="row">
            <div class="col-md-3"><a href="edit">Edit</a>
            </div>
        </div>
    </div>
</div>